<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.blissmall.puff.service.mapper.user.AppUserProfilesMapper">
  <resultMap id="BaseResultMap" type="net.blissmall.puff.domain.user.AppUserProfiles">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="mobile_phone" jdbcType="INTEGER" property="mobilePhone" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="regionalism_id" jdbcType="INTEGER" property="regionalismId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
</mapper>